<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.meetsports">

    <!-- Permissions -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Providers -->

        <!-- Global Meta Data -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKS8p5wWtvFF3LxvVLZjYt3g8aPMFzen4" />

        <activity
            android:name="com.company.meetsports.Activities.MainActivity"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.company.meetsports.Activities.CreateEventActivity"
            android:label="Create an event">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.company.meetsports.Activities.MainActivity" />
        </activity>

        <activity
            android:name="com.company.meetsports.Activities.SignInActivity"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name="com.company.meetsports.Activities.SignUpActivity"
            android:label="Meet Sports"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name="com.company.meetsports.Activities.FindEventActivity"
            android:label="Find an event">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.company.meetsports.Activities.MainActivity" />
        </activity>

        <!-- Services -->

    </application>
</manifest>